  <!-- Classes of Fire Section -->
  <section class="bg-gray-50 py-16">
    <div class="container mx-auto text-center mb-12">
      <!-- Headline Section -->
      <h2 class="text-5xl font-extrabold text-gray-900 mb-6">
        Kategori Alat Pemadam Api
      </h2>
      <p class="text-lg text-gray-600 mb-8 md:px-36 px-4">
        Pilih alat pemadam api yang dirancang khusus untuk mengatasi berbagai
        jenis kebakaran. Setiap kategori dilengkapi dengan media pemadam
        terbaik, disesuaikan untuk kebutuhan perlindungan Anda.
      </p>
    </div>

    <div
      class="container mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-8 md:px-16 px-8">
      <!-- Class A - Wood Fires -->
      <div
        class="group relative flex flex-col items-center bg-orange-500 border border-transparent rounded-lg shadow-lg hover:shadow-xl hover:bg-orange-600 transition-all duration-300 transform hover:scale-105">
        <img
          class="object-square w-full rounded-t-lg group-hover:opacity-90 transition-opacity duration-300"
          src="/abcdbakar/tipeA.webp"
          alt="Tipe A"
          loading="lazy"
        />
        <div
          class="flex flex-col justify-between p-4 leading-normal text-center">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Kelas A
          </h5>
          <p class="mb-3 font-normal text-white">
            Kebakaran benda padat seperti kayu, kain, kertas, atau sampah
            kering.
          </p>
        </div>
      </div>

      <!-- Class B - Flammable Liquids -->
      <div
        class="group relative flex flex-col items-center bg-red-500 border border-transparent rounded-lg shadow-lg hover:shadow-xl hover:bg-red-600 transition-all duration-300 transform hover:scale-105">
        <img
          class="object-square w-full rounded-t-lg group-hover:opacity-90 transition-opacity duration-300"
          src="/abcdbakar/tipeB.webp"
          alt="Tipe B"
          loading="lazy"
        />
        <div
          class="flex flex-col justify-between p-4 leading-normal text-center">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Kelas B
          </h5>
          <p class="mb-3 font-normal text-white">
            Kebakaran yang disebabkan oleh bahan bakar seperti bensin, minyak,
            dan LPG.
          </p>
        </div>
      </div>

      <!-- Class C - Electrical Fires -->
      <div
        class="group relative flex flex-col items-center bg-yellow-500 border border-transparent rounded-lg shadow-lg hover:shadow-xl hover:bg-yellow-600 transition-all duration-300 transform hover:scale-105">
        <img
          class="object-square w-full rounded-t-lg group-hover:opacity-90 transition-opacity duration-300"
          src="/abcdbakar/tipeC.webp"
          alt="Tipe C"
          loading="lazy"
        />
        <div
          class="flex flex-col justify-between p-4 leading-normal text-center">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Kelas C
          </h5>
          <p class="mb-3 font-normal text-white">
            Kebakaran yang disebabkan oleh alat listrik atau instalasi listrik.
          </p>
        </div>
      </div>
    </div>
  </section>